*{
    padding: 0px;
    margin-top: 0%;
    box-sizing: border-box;
    background-color: #020403;
    color:#FFFF;
}
nav{
    display: flex;
}
.imagePersonal{
    position: relative;
}
.imagePersonal:nth-child(2){
    position: absolute;
}
