*{
    padding: 0px;
    margin-top: 0%;
    box-sizing: border-box;
    background-color: #020403;
    color:#FFFF;
}
nav{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: end;
}
ul{
    display: flex;
    list-style: none;
    padding: .5rem;
}
li{
    padding:.5rem;
}
nav > ul > li > a{
    text-decoration: none;
}
.imagePersonal{
    position: relative;
}
.imagePersonal :first-child{
    width: 100%;

}
.imagePersonal :nth-child(2){
    width: 200px;
    height: 275px;
    border-radius: 35%;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.presentation>h2, .presentation>h1{
    text-align: center;
}
.presentation :nth-child(6){
    width: 100%;

}
.aboutMe{

}
.skillsSection{
    display: flex;
    flex-direction: column;
}
.contentSkills{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.line-time{
    display: grid;
    grid-template-columns: auto auto;
}
.myContac{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.cardContac{
  text-align: center;  
}
footer{
    text-align: center;
}

